{% extends 'schedule/base.html' %}

{% block content %}
    <h1 class="mb-4">Homework</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for homework in homeworks %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ homework.title }}</h5>
                            </div>
                            <div class="col-auto">
                                <p class="card-text text-end">{{ homework.due_date }}</p>
                            </div>
                        </div>
                        <!-- Delete Homework Link -->
                        <a href="{% url 'delete_homework' homework.id %}" class="btn btn-dark">Delete</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>No homeworks found.</p>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5">Create Homework</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            <input type="text" name="{{ form.title.name }}" class="form-control" id="{{ form.title.id_for_label }}" placeholder="Enter title">
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            <textarea name="{{ form.description.name }}" class="form-control" id="{{ form.description.id_for_label }}" rows="3" placeholder="Enter description"></textarea>
            {% if form.description.errors %}
                {% for error in form.description.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.due_date.label_tag }}
            <input type="date" name="{{ form.due_date.name }}" class="form-control" id="{{ form.due_date.id_for_label }}">
            {% if form.due_date.errors %}
                {% for error in form.due_date.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Create Homework</button>
    </form>
{% endblock %}